<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row gy-4">

            <div class="col-lg-4 col-md-6">
                <img src="/photo/Logo Vector.png" alt="Footer Logo" class="mb-3">
                <p class="text-white-50 small">
                    We are a residential interior design firm located in Portland. Our boutique-studio offers more than.
                </p>
            </div>

            <div class="col-lg-2 col-md-6">
                <h5 class="text-uppercase mb-4 fw-bold">Services</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Bonus Program</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Gift Card</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Credit and payment</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Service contracts</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Non-cash account</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Payment</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-4 fw-bold">Assistance to the buyer</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Find an order</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Terms of delivery</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Exchange and return of goods</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Guarantee</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Frequently asked questions</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Terms of use of the site</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                 <div class="d-flex justify-content-center justify-content-lg-start gap-3 mt-4">
                    <a href="#" class="text-white-50"><img src="/photo/Twitter.png" alt="Twitter" style="width: 24px;"></a>
                    <a href="#" class="text-white-50"><img src="/photo/Facebook.png" alt="Facebook" style="width: 24px;"></a>
                    <a href="#" class="text-white-50"><img src="/photo/Tiktok.png" alt="Tiktok" style="width: 24px;"></a>
                    <a href="#" class="text-white-50"><img src="/photo/Instagram.png" alt="Instagram" style="width: 24px;"></a>
                 </div>
            </div>
        </div>
    </div>
</footer>

<%- include('scripts') %>